*,
::after,
::before{
    box-sizing: border-box !important;
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

body{
    color: #151515;
}

ul , li{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,p{
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.btn{
    color: #fff;
    
    text-transform: uppercase;
    a{
        padding: 12px 26px;
        background-color:#ff8b17;
        border-radius: 20px;
        &:hover{
            background-color: #e87e13;
        }
    }
    
}

.header-slider{
    .slick-list{
        height: 100dvh;
    }
}

.header-slider__dots{
    .slick-track{
        

    }
    .slick-slide{
        width: 50px;
    }
}



.menu-nav{
    .slick-track{
        
        width: auto !important;
    }
   
        .slick-current{
           
                .menu-nav-item{
                    background-color:#ff8b17 !important;
                }
                    
                
            
        }
    
}

.fixed-nav {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.holder-head{
    h4{
        color: #f36700;
        font-weight: 400;
        text-align: center;
    }
    .holder-title{
        font-family: 'Dancing Script', cursive;
        margin-top: 0px;
        font-weight: 700;
        color: #151515;
        font-size: 36px;
        text-align: center;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            height: 2px;
            background-color: #ff8b17;
            width: 100%;
            display: block;
            margin-top: 20px;

        }
    }
    margin-bottom: 55px;
}